body {
  background: url(/img/background.jpeg) no-repeat center center fixed;
  background-size: cover;
}

header,
section,
footer {
  margin: 40px auto;
}

footer {
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

i {
  margin-right: 5px;
}

#user img {
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.repo {
  overflow: hidden;
}

.language-icon {
  font-size: 30px;
}
