html,
body {
  height: 100%;
}

header {
  background-image: url('/img/leaf.jpg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0;
  text-align: center;
}

header .cta {
  margin: 200px auto 0;
}

header .cta h1 {
  color: #eee;
  font-size: 5em;
  font-weight: bold;
  text-shadow: #111 0px 0px 10px;
  text-transform: uppercase;
}

header .cta p {
  color: #eee;
  text-shadow: #111 0px 0px 10px;
}

#content .row {
  padding-top: 100px;
}

#koanForm {
  text-align: center;
}

#koan h2 {
  font-family: 'Droid Serif', serif;
}

#koan p {
  font-size: 1.2em;
}

footer {
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}
