header,
section,
footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

#meetups_section {
  background-color: #E0393E;
}

#subreddits_section {
  background-color: #cee3f8;
}
